#mentorList {
	width: 60%;
	margin-left: 20px;
	}

#add-Mentor {
	background-color: rgb(84, 95, 122);
  width: 402px;
  margin-left: 715px;
  margin-top: -509px;
  height: 500px;
  font-family: Rubik;
  font-size: 24px;
  line-height: 28px;
  color: rgb(255, 255, 255);
}

#formInput {
	font-size: 21px;
  padding-top: 25px;
  text-indent: 10px;
}

#stud-matchButton {
	width: 106px;
  margin-right: 10px;
}

.card {
	box-sizing: border-box;
	width: 554px;
	height: 159px;
	background-color: #FFFFFF;
	border: 3px solid #CBCFD7;
	border-radius: 4px;
}

.card.highlight {
	border: 3px solid #545F7A;
}

#email {
	font-size: 20px;
  margin-top: -18px;
}

#mentorName {
	font-size: 20px;
	margin-top: 9px;
	margin: -84px 169px 255px 65px;
	font-family: Rubik;
  font-size: 24px;
  line-height: 28px;
  color: #545F7A;
}

#rightPaneStyles {
	background-color: #545F7A;
	font-family: Rubik;
	font-size: 24px;
	line-height: 28px;
	color: #FFFFFF;
  height: 1024px;
}

#insides4 {
	padding: 20px;
}

#DashStyles {
	background-color: white;
	overflow: scroll;
	height: 750px;
}

#div-content {
	margin-left: 127px;
}

#prof-Name {
	font-size: 29px;
}

#mentorTop-cont {
	width: 300px
}

#check-btn {
	margin-left: -59px;
  color: #0afb1c;
}

#addMoreTopics {
	height: 400px;
}

#imgProfile {
	width: 69px;
	height: 69px;
	margin: 50px 47px 30px 43px;
}

#instructorImage {
  width: 60px;
  height: 60px;
  margin-top: 19px;
  margin-left: -20px;
}

#eject {
	width: 9.09px;
  height: 5.55px;
  margin-right: 40px;
	margin-top: 32px;
}

#mentorTittle {
    width: 152px;
    height: 47px;
    font-family: Rubik;
    font-size: 40px;
    line-height: 47px;
    color: #545F7A;
    margin-left: 127px;
}

#pleaseAddTopics {
	width: 310px;
  height: 84px;
  font-family: Rubik;
  font-size: 24px;
  line-height: 28px;
  color: #FFFFFF;
}

#form1 {
  border-style: solid;
	border-color: #FFFFFF;
	margin-top: 41px;
  padding: 10px
}

#saveTopicsButton {
	margin-top: -286px;
  width: 120px;
}




